<div class="max-w-md mx-auto p-6 border rounded-xl shadow-sm bg-white">
    <div class="text-center mb-4">
        <h2 class="text-2xl font-semibold"><%= @person.name %></h2>
        <p class="text-sm text-gray-500">Informações da Pessoa</p>
    </div>


    <turbo-frame id="person_info">
        <div class="space-y-4">
            <div>
                <span class="text-gray-600 text-sm">Nome</span>
                <p class="text-lg font-medium"><%= @person.name %></p>
            </div>


            <div>
                <span class="text-gray-600 text-sm">CPF</span>
                <p class="text-lg font-medium"><%= @person.cpf %></p>
            </div>


            <div>
                <span class="text-gray-600 text-sm">Email</span>
                <p class="text-lg font-medium"><%= @person.email %></p>
            </div>

        </div>

    </turbo-frame>

    <div class="mt-4 flex">
        <a href="/" class="text-blue-700 px-4 py-2 mt-4">Back</a>
        <%= button_to "Apagar Pessoa",
            delete_person_path(@person),
            method: :delete,
            data: { confirm: "Tem certeza que deseja deletar esta pessoa?" },
            class: "mt-4 text-red-600 px-4 py-2 rounded-lg"
        %>
        <%= button_to "Editar",
            edit_person_path(@person),
            method: :get,
            class: "mt-4 mr-3 text-gray-600 border-b pt-2"
        %>
    </div>
</div>


